
.jihyun_logo{
    font-family: 'Lobster', cursive;"
}

.jihyun_footer_button{
    font-size: .9rem;
}

.jihyun_footer {
    text-align:center;
    margin-bottom: 2rem;
}

.jihyun_header {
    text-align:center;
    margin: 2rem 0;
}